/*
* @Author: wittyfans
* @Date:   2017-08-10 18:52:57
* @Last Modified by:   wittyfans
* @Last Modified time: 2017-08-10 19:00:55
*/

.footer{
	padding-bottom: 10px;
}

.links{
	text-align: center;
	color: #666;
	line-height: 30px;

}

.footer .links .link {
	padding: 0 10px;
}

.copyright{
	text-align: center;
	color: #666;
	line-height: 30px;
}