<div class="nav">
    <div class="w">
    	<!-- 登陆注册按钮 -->
        <div class="user-info">
            <span class="user not-login">
				<span class="link js-login">登录</span>
            <span class="link js-register">注册</span>
            </span>
            <span class="user login">
				<span class="link-text js-welcome">欢迎您:<span class="username"></span></span>
            <span class="link js-logout">退出</span>
            </span>
        </div>
        <ul class="nav-list">
            <a href="./cart.html" class="link">
	            <li class="nav-item nav-cart">
	                <i class="fa fa-shopping-cart"></i>
                    购物车(<span class="cart-count">0</span>)
	            </li>
            </a>
            <li class="nav-item">
                <a href="./order-list.html" class="link">我的订单</a>
                <a href="./user-center.html" class="link">个人中心</a>
                <a href="./about-witty.html" class="link">关于WITTY</a>
                
            </li>
        </ul>
    </div>
</div>