/*
* @Author: wittyfans
* @Date:   2017-08-10 10:52:30
* @Last Modified by:   wittyfans
* @Last Modified time: 2017-08-10 11:00:17
*/

.nav-simple {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}

.nav-simple .logo {
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
}